<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>TaskTime</title>
    <meta charset="utf-8" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
        integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>

<body>
    <h3 style="text-align: center;">TaskTime</h3>
    <h3 style="text-align: center;">Login with GoogleOAuth 2.0</h3>
    <!-- OAuth 2.0 Login用のリンクを表示するエリア -->
        <a class="btn btn-primary btn-lg btn-block" th:href="@{/oauth2/authorization/google}">
        Sign in with Google</a>
</body>