<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>TaskTime</title>
    <meta charset="utf-8"/>

    <!-- Bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
    <h1 style="text-align: center;" class="animation my-5">TaskTime</h1>
    <h2 style="text-align: center;" class="animation my-5">タスク管理×GoogleCalendarアプリ</h2>
    <!-- OAuth 2.0 Login用のリンクを表示するエリア -->
        <a class="btn btn-primary btn-lg d-grid gap-2 animation mb-5" th:href="@{/oauth2/authorization/google}">
        Googleアカウントでログイン</a>

    <!-- top.htmlの画像イメージあとで挿入 ログインしたらこんな風にタスクとCalendar情報が表示されます -->
    
    <p class="animation">プライバシーポリシー<br>
    当アプリではユーザー様のメールアドレス等を取得させていただくことがあります。<br>
    取得した個人情報は当アプリのサービスのために利用させていただき、<br>
    当アプリのサービス以外の目的では利用致しません。<br>
    © 2021 中村圭吾</p>

    
    <!-- Bootstrap -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- JavaScriptのライブラリ ScrollReveal.js -->
	<script src="https://unpkg.com/scrollreveal"></script>
	<script>
       window.sr = ScrollReveal({ reset: false, mobile: true});
       sr.reveal('.animation', {duration: 1000});
	</script>

</body>

</html>