<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="UTF-8">
	<title>top</title>
	<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">



</head>

<body>

	<article>
		<!-- サイドバー -->
		<div class="sidebar">
			TaskTimeApp
			<a th:href="@{/app/top}"><button>TOPへ</button></a><br>
			<a th:href="@{/app/today}"><button>today表示</button></a><br>
			<a th:href="@{/app/done}"><button>done表示</button></a><br>
			<!-- ログアウトボタン -->
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Logout" />
			</form>
		</div>

		<div class="content">
			
			
		</div>
	</article>
</body>

</html>