<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>TaskTime</title>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
    <!-- ナビゲーションバー -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
        <div class="container-fluid">
            <a class="navbar-brand text-dark" th:href="@{/app/top}">TaskTime</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" th:href="@{/app/top}">Top</a>
                    <a class="nav-link active" aria-current="page" th:href="@{/app/today}">today</a>
                    <a class="nav-link" th:href="@{/app/done}">done</a>
                    <form class="nav-link" th:action="@{/logout}" method="post"><input type="submit" value="Logout"
                            class="btn btn-outline-secondary btn-sm"></form>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-lg">

        <p style="text-align:center">
			<a th:href="@{/app/new}"><button class="mt-2 btn btn-primary">+ NewTask</button></a>
		</p>

        <h5>今日のタスク</h5>

        <!-- taskが無い時 -->
        <div th:if="!${task.size()}">
            <h4 style="text-align: center;">タスクはありません！</h4>
        </div>

        <!-- タスクがある時 -->
        <div th:if="${task.size()}" class="task-table">

            
            <table class="table table-danger table-borderd table-striped table-hover table-sm shadow">
                <thead class="task-table-header">
                    <tr>
                        <th style="text-align: center;">タスク</th>
                        <th style="text-align: center;">見積時間(h)</th>
                        <th style="text-align: center;">開始時刻</th>
                        <th style="text-align: center;">完了</th>
                        <th style="text-align: center;">編集</th>
                        <th style="text-align: center;">優先度</th>
                    </tr>
                </thead>

                <tbody th:each="task:${task}" th:object="${task}">
                    <tr>
                        <td th:text="*{taskName}" style="text-align: center;" class="fw-bold"></td>
                        <td th:text="*{estimatedTime}" style="text-align: center;"></td>
                        <td th:text="*{startTime}" style="text-align: center;"></td>
                        
                        <td style="text-align: center;">
                            <form method="POST" th:action="@{/app/doneToday/{taskID} (taskID=*{taskID}) }"><button
                                    class="btn btn-warning btn-sm">✓</button></form>
                        </td>

                        <td style="text-align: center;">
                            <a th:href="@{/app/edit/{taskID} (taskID=*{taskID}) }">
                                <button type="button"class="btn btn-light btn-sm">edit</button></a></td>
                        
                        <td style="text-align: center;" th:text="*{priority}"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h3 class="mt-5 bg-white rounded" style="text-align:center">Your GoogleCalendar</h3>
		<div style="text-align: center;">
			<iframe th:src="|https://calendar.google.com/calendar/
				embed?

				src=${userID}
				
				&ctz=Asia%2FTokyo&amp;
				height=600&amp;
				wkst=2&amp;
				bgcolor=%23ffffff&amp;
				width=800&amp;
				height=600&amp;
				frameborder=0&amp;
				scrolling=no&amp;
				mode=WEEK&amp;
				showTitle=0&amp;
				showCalendars=0&amp;
				showTabs=0&amp;
				showPrint=0&amp;
				showDate=0&amp;|" style="border:solid 1px #777" width="800" height="500" frameborder="0">
			</iframe>
		</div>

    </div>


    

    <!-- JavaScript タイマー部分 未実装-->
    <script th:inline="javascript">
        let PassedTime = 0;

        function format(time) {
            let sec = (time % 60) % 60;
            let min = Math.floor(time / 60) % 60;
            let hour = Math.floor(time / 3600);

            return hour + ':' + min + ':' + sec;
        }


        function start() {

            intervalID = setInterval('count();', 1000);


            //startボタン無効化
            document.getElementById("startcount").disabled = true;
        }

        function count() {
            PassedTime++;
            let msg = format(PassedTime);
            document.getElementById("elapsedtime").innerHTML = msg;
        }

        function stop() {
            //intervalを停止
            clearInterval(intervalID);

            //startボタン有効化
            document.getElementById("startcount").disabled = false;
        }

    </script>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>


</body>

</html>